#    format : FLAG = VALUE

#    Settings are presents twice :
#    - In every world :
#      world_directory/vmg.conf

#    - In the main directory :
#      usually main_directory/minetest.conf

#    /!\ IMPORTANT : In minetest.conf, flags have to be preceded by "vmg_" like "vmg_average_stone_level".



#version = 2.2
#    mapgen version used.

#player_max_distance = 450
#    maximal distance from (0;0) at which the player will appear. (If it's in a big ocean, it may be farther)
#spawn = true
#    New players are randomely spawned by the mod. Disable it to spawn the player another way.
#respawn = true
#    After death, players are respawned by the mod. Disable it to respawn the player another way.

#water_level = 1
#river_water = true
#    use river water instead of normal water in rivers.
#waterflow = 3
#    maximal length of a river water flowing.

#average_stone_level = 180
#    height at which the half of the surface is made solely of stone.
#average_snow_level = 100
#    height at which the half of the surface is covered by snow.
#clay_threshold = 1
#    if noise 13 is above this value, make pure clay instead of clayey dirt.
#silt_threshold = 1
#    if noise 14 is above this value, make pure silt instead of silty dirt.
#sand_threshold = 0.75
#    if noise 15 is above this value, make desert sand instead of sandy dirt.
#dirt_threshold = 0.5
#    if not any of noises 13, 14 and 15 is above this value, make normal dirt. Else make special dirt.
#river_depth = 3
#river_size = 5
#caves = true
# Set to false to turn caves off. This saves significant processing time.
#caves_size = 7
#lava_depth = 2000
#    to manage lava amount increasing by going deep underground : lower values = bigger increasing.
#surface_lava = false
#    DEPRECATED. No longer supported since mapgen version 2.0. Use lava_max_height instead.
#lava_max_height = -1
#    Lava can't be generated above this height. Use 31000 to disable this restriction, or -31000 to fully disable lava.
#altitude_chill = 90

#trees = true
#    If false, no trees, of course !
#plants = true
#tree_density = 5
#    DEPRECATED since mapgen 2.3. Percent of the lawn nodes that are covered by trees.
#plant_density = 32
#    DEPRECATED since mapgen 2.3. Percent of the lawn nodes that are covered by plants.
#leaves_colors = true
#    5 different colors for apple trees
#simple_caves = false
# Use a faster, sparser cave algorithm
#cave_stuff = false
# Add mushrooms and water features to caves.

#ores = true
#    Spawn ores from minetest.register_ore() and from darkage mod by CraigyDavi
#stone_ores = true
#    Enable sandstone and desert stone layers

#    NOISES : offset, scale, (spread), seed, octaves, persist, lacunarity
#    (see mapgen.lua to see what is the role of each noise)

#noise_1 = -10, 50, (1024,1024,1024), 5202, 6, 0.4, 2
#noise_2 = 0, 1, (256,256,256), -6050, 5, 0.6, 2
#noise_3 = 5, 4, (512,512,512), -1914, 1, 1, 2
#noise_4 = 0.6, 0.5, (512,512,512), 777, 1, 1, 2
#noise_5 = 0.5, 0.5, (128,128,128), 746, 1, 1, 2
#noise_6 = 0, 1, (256,512,256), 1993, 6, 0.8, 2
#noise_7 = 3, 1.75, (256,256,256), 1605, 3, 0.5, 2
#noise_8 = 0, 1, (32,32,32), -4640, 4, 0.5, 2
#noise_9 = 0, 1, (32,32,32), 8804, 4, 0.5, 2
#noise_10 = 0, 1, (32,32,32), -4780, 4, 0.5, 2
#noise_11 = 0, 1, (32,32,32), -9969, 4, 0.5, 2
#noise_12 = 0, 1, (64,64,64), 3314, 4, 0.5, 2
#noise_13 = 0, 1, (256,256,256), 2835, 5, 0.5, 4
#noise_14 = 0, 1, (256,256,256), 6674, 5, 0.5, 4
#noise_15 = 0, 1, (256,256,256), 6940, 5, 0.5, 4
#noise_16 = 2, 8, (256,256,256), 2349, 3, 0.5, 2
#noise_17 = 0, 1, (768,256,768), -1805, 4, 0.5, 4
#noise_18 = 0, 1, (243,243,243), -5787, 4, 0.5, 3

#    Flags that are ONLY available in minetest.conf :

#vmg_log_level = 0
#    0 = Not any log from Valleys Mapgen
#    1 = Total mapgen time
#    2 = Detailed mapgen time (step by step)
#    3 = Detailed mapgen time + trees
